* {
    box-sizing: border-box;
}

body {
    margin: 0;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #111827;
    color: white;

    font-family: Arial, sans-serif;
}

main {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    color: #9ca3af;
}

.links {
    margin-top: 30px;
}

.links a {
    margin: 0 10px;

    color: #60a5fa;

    text-decoration: none;

    font-size: 1.2rem;
}

.links a:hover {
    text-decoration: underline;
}
